#about {
  padding: 4rem 2rem; 
  background-color: $background-color;
  color: $text-color; 
}

  .about-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

    h2 {
      font-size: 3rem; 
      margin-bottom: 2rem;
      font-weight: bold;
      color: $hover-bg-color;

      span {
        background: $text-gradient; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-size: 1.3rem; 
      line-height: 1.8; 
      margin-bottom: 1.5rem; 
    }

    .skills-section {
      margin-top: 2rem;
    
      .skills-title {
        font-size: 2.5rem; 
        font-weight: bold;
        color: $hover-bg-color; 
        margin-bottom: 2rem;
        text-align: center; 
      }
    
      .skills-container {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem; 
    
        .current-skills, .future-skills {
          h3 {
            font-size: 2rem; 
            font-weight: bold;
            color: $hover-bg-color; 
            margin-bottom: 1rem;
            text-align: center; 
          }
    
          .skills-list {
            list-style: none;
            padding: 0;
    
            li {
              display: flex;
              align-items: center;
              font-size: 1.5rem; 
              font-weight: bold;
              color: $hover-bg-color; 
              transition: all 0.3s;
    
              i {
                margin-right: 0.8rem; 
                font-size: 1.8rem; 
                color: $hover-bg-color; 
                transition: transform 0.3s; 
              }
    
              &:hover {
                color: $text-color; 
                i {
                  transform: translateX(5px); 
                }
              }
            }
          }
        }
      }
    }

    
    
  