#contact {
  padding: 3rem 1rem;
  background-color: $background-color;

  h2 {
    font-size: 3rem; 
    font-weight: bold;
    text-align: center; 
    background: $text-gradient; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem; 
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    
    

    .input-box {
      margin-bottom: 1.5rem;

      span {
        display: block;
        font-size: 1rem;
        color: $hover-bg-color; 
        margin-bottom: 0.5rem;
      }

      input, textarea {
        width: 100%;
        padding: 0.8rem;
        border-radius: 10px;
        border: 2px solid $hover-bg-color;
        background-color: lighten($background-color, 5%);
        color: $text-color;
        font-size: 1rem;
      }

      textarea {
        resize: none; 
        height: 150px; 
      }
    }
    
    .btn {
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem; 
      text-align: center;
      border: none;
      border-radius: 10px; 
      background-color: $hover-bg-color; 
      color: $hover-text-color; 
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: lighten($hover-bg-color, 10%);
      }
    }
  }
}

@media (max-width: 480px){
  form {
    margin-left: 10px;
  }
}
        







  