body {
  font-family: $font-family;
  line-height: 1.6;
  color: $text-color; 
  background-color: $background-color; 
}

.btn {
  display: inline;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid $hover-bg-color; 
  background-color: transparent;
  color: $text-color;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $hover-bg-color; 
    color: $hover-text-color; 
  }
}

