$background-color: #1e1e2f;             
$text-color: #d1d1d1;               
$secondary-text-color: #a9a9a9;      


$hover-bg-color: #c19a6b;              
$hover-bg-color-alt: #4c566a;         
$hover-text-color: $background-color;  


$text-gradient: linear-gradient(90deg, #c19a6b, #4c566a, #a9a9a9); 
 

$font-family: 'Inter', sans-serif;     


$mobile: 480px; 
$tablet: 768px; 
$desktop: 1024px; 